.codeMirror{
	display: flex;
	background-color: rgb(20, 13, 61);
	position: relative;
	min-height: 100vh;
}

.codeMirror .items{
	flex: 0 0 calc(100% / 3);
}

.codeMirror .directionsWrapper{
	background-color: white;	
}